#logo {
  text-align: center;
  margin-top: 5%;
}

#container_login {
  background-color: #9caabf;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 300px;
  border: 1px solid #9caabf;
  opacity: 0.7;
  
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;

  text-align: center;
}

#login_form {
}

.login_input_field {
  margin-bottom: 5px;
  text-align: center;
}

#login_input_submit {
  margin-top: 5px;
  display: block;
  margin: 0 auto;
}

a {
  color: white;
}
