body {
  background: rgba(196, 216, 53, 0.7);
}

h6 {
  font-size: 18.60px;
  font-weight: 100;
  text-transform: uppercase;
}

input {
  text-align: center;
}

#container_parameters_and_user_data {
  margin-bottom: -0.1em;
  padding-left: 0px;
  padding-right: 0px;
}

#container_parameters {
  display: inline-block;
  width: 75%;
  margin: 0px;
  padding:0px;
}

#parameters_container {
  display: inline-block;
  padding: 10px;
  width: 100%;
}

#parameters_select_groups, #parameters_select_devices {
  display: inline-block;
  width: 130px;
  height: 30px;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

#parameters_select_start_date, #parameters_select_end_date {
  display: inline-block;
  width: 130px;
  height: 30px;
  font-size: 14px;
  /* margin-top: -21px; */
}

#parameters_select_default_time_frames {
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

#container_user_data {
  margin: 0px;
  padding: 0px;
  float: right;
}

#user_data_container{
  padding: 10px;
}

#user_logged_in_information {
  display: inline-block;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

#logout_button {
  float: right;
  margin-right: 0.3em;
  height: 30px;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

/* #logout_button:hover {
  color: white;
  background-color: #9da3ad;
} */

#user_logged_in_information {
  font-size: 14px;
}

#container_statusbar_and_map{
  padding-left: 0px;
  padding-right: 0px;
}

#container_device_and_status {
  /* border: 2px solid #707884; */
  padding-left: 0px;
  padding-right: 0px;
  float: left;
}

#status_header{
  height: 50px;
}

#status_header div{
  float: left;
}

#status_table tbody {
  max-height: 34em;
}

#status_table .status_parameter {
  min-width: 140px;
  max-width: 140px;
}

#status_table .status_wert {
  min-width: 180px;
  max-width: 180px;
}

#option_folgen {
  float: right;
}

#status_header h6 {
  display: inline-block;
}

#devices_header, #status_header, #map_header, #berichte_header, #ereignis_header, #popup_konfigurieren_header, #parameters_header, #user_data_header {
  color: white;
  background-color: #707884;
  padding: 10px;
}

#map{
  padding-left: 0px;
  padding-right: 0px;
}



#devices_table tr:not(:first-child):hover, #bericht_table tbody tr:hover {
  background-color: #9caabf;
}

#status_table_container {
  width: 100%;
  overflow:hidden;
  /* overflow-y: scroll; */
}

#status_table {
  height: 22.5em;
}

#devices_table th, #devices_table td/*, #status_table th, #status_table td*/, #bericht_table_header_fake th, #bericht_table th, #bericht_table td {
  padding: 0px; /*Zeilenhöhe verkleinern, dass mehr Zeilen sichtbar sind, ohne zuviel scrollen zu müssen*/
}

#status_table th, #status_table td {
  padding: 7px;
}

th, td {
  overflow: hidden;
  text-align:center;
  white-space: nowrap;  /*Zeilenumbruch in Table-Zellen verhindern*/
}
/*https://codepen.io/yavuzselim/pen/LNYrBd*/

#devices_table tbody, #status_table tbody{
    overflow-x:auto;
    overflow-y:auto;
    width: 100%;
}
#devices_table thead, #devices_table tbody {
  display:block;
}

#status_table thead, #status_table tbody {
  display: none;
}
/******************************************/
#map {
  display: inline-block;
}

#map_container {
  /* width: 101.2%; */ /*über 100%, weil scroll-Bar von bericht_table da Probleme macht*/
  /* height: 96.6%; */
  /* border: 2px solid #707884; */
}

#berichte_container{
  padding-left: 0px;
  padding-right: 0px;
}

.last_position {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 40px solid red;
  opacity: 0.5;
}

.positions_overlay {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #005FFF;
}

.position_course {

  /* border: solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2.5px;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);

  margin-top: 37%;
  margin-left: 23%; */

  background-image: url("../img/arrow_paint1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* #ereignis {
  display: inline-block;
  vertical-align: top;
  width: 15.57%;
  border: 2px solid #707884;
  min-height: 37.55em;
  margin-left: -0.2em;
} */

/*http://jsfiddle.net/CrSpu/16621/*/

#berichte {
  margin-top: -0.19em;
}

#bericht_table_container {
  overflow:hidden;
  overflow-y: scroll;
  height: 12.9em;
}

#bericht_table {
  display: none;
}

#bericht_table_header_fake {
  display: none;
  table-layout: fixed;
  width: 99%;
  margin-bottom: 0;
  padding: 0;
}

#bericht_table td {
  width: 210px;
}

/**/

#bericht_menu {

}

#bericht_konfigurieren_anzeigen-button {
  height: 30px;
  font-size: 14px;
  /* color: black;
  background-color: #d2d6dd;
  border-color: #9da3ad; */
  padding-top: 0;
  padding-bottom: 0;
}

/* #bericht_konfigurieren_anzeigen-button:hover {
  background-color: #9da3ad;
  color: white;
} */

#form_data {
  display: none;
}

.last_position_label {
  margin-top: -40px;
  margin-left: -15px;

  color: red;
  font-size: 16px;
  font-weight: bold;
}

.option_follow_active {
  background-color: #9b9ea3;
  border-color: #9b9ea3;
  color: white;
}

/*Tooltip*/
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.positions_overlay:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
